[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/gattaca-lab/llvm-project
	branch = riscv_hwasan
[submodule "src/qemu"]
	path = src/qemu
	url = https://github.com/gattaca-lab/qemu
	branch = riscv_pm_qemu_5.1_dev
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/gattaca-lab/linux
	branch = riscv_pm_5.8_dev
[submodule "src/buildroot"]
	path = src/buildroot
	url = git://git.busybox.net/buildroot
[submodule "src/riscv-pk"]
	path = src/riscv-pk
	url = https://github.com/riscv/riscv-pk
[submodule "src/riscv-gnu-toolchain"]
	path = src/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
